<% content_for :title, "Pandora" %>
<h1>Pandora</h1>
<div id="tag">
  <h2><%= @tag.label %></h2>
  <div id="activities">
    <% @tag.activities.each do |activity| %>
      <p>
        <%= activity.description %>
        <% if authenticated? %>
          <%= button_to "Draw", draw_activity_path(activity) %>
        <% else %>
          <div class="">Draw</div>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
