<% content_for :title, "Pandora" %>
<h1>Pandora</h1>
<div id="tags">
  <%= form_with(url: draw_activity_path) do |form| %>
    <%= form.label :tag_ids, style: "display: block" %>
    <%= form.collection_checkboxes :tag_ids, Tag.order(:label), :id, :label %>
    <%= form.submit %>
  <% end %>
</div>
