<% content_for :title, "Pandora" %>
<h1>Pandora</h1>
<div id="tags">
  <% @tags.select { |tag| tag.activities.any? }.each do |tag| %>
    <p><%= link_to tag.label, tag_activities_path(tag) %></p>
  <% end %>
</div>
