<style>
  .button {
    margin-bottom: 20px;
  }

  .tag-row {
    margin-bottom: 16px;
    display: flex;
    gap: 20px;
    align-items: end;
  }
</style>
<% content_for :title, "Tags" %>
<section>
  <p style="color: green"><%= notice %></p>
  <%= link_to "Activities", activities_path %>
  <h1>Tags</h1>
  <%= link_to "New tag", new_tag_path, class: "button" %>
  <div id="tags">
    <% @tags.each do |tag| %>
      <div class="tag-row">
        <%= render tag %>
      </div>
    <% end %>
  </div>
</section>
