<div id="<%= dom_id activity %>">
  <p>
    <strong>Drawn on:</strong>
    <%= activity.drawn_on %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>
  <p>
    <strong>Tags:</strong>
    <%= activity.tags.map(&:label).join(", ") %>
  </p>
</div>
